.row {
  display: table;
  width: calc(100% + 8px);
  margin: 0 -4px;
  margin-bottom: 8px;
}

.row.noOffset {
  margin-bottom: 0;
}

.ta-col {
  display: table-cell;
  padding: 0 4px;
  vertical-align: top;
}
